<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<link rel="stylesheet" th:href="@{/css/total_company.css}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" th:href="@{/css/w3.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<script th:src="@{/script/total_company.js}" type="text/javascript"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(document).ready(function(){
        var sortName = $('#navSort').val();
        $('#userOption option').each(function(){
            if(this.value == sortName)
            {
                $(this).prop('selected', 'selected');
            }
        });

        $('span[name=1]').css('font-weight',800); //초기 페이지 번호 css
        $('#managerOption').hide();
        $('#holderOption').show()

        $('#userOption').change(function(){
            location.href = "/asset/research/sort/"+$(this).val();
        });
        $('#holderOption').change(function(){
            var holderSrl = $('#userSrl').val();
            var jsonData = {"userSrl":holderSrl, "auth":'holder', "pageNum":1, "sortName":$(this).val()};
            ajax_admin_asset_list(jsonData);
            ajax_page_add(jsonData);
        });
        $('#managerOption').change(function(){
            var managerSrl = _userSrl;
            var jsonData = {"userSrl":managerSrl, "auth":'manager', "pageNum":1, "sortName":$(this).val()};
            ajax_admin_asset_list(jsonData);
            ajax_page_add(jsonData);
        });

        $('#insert_user_phone').keyup(function(e)// 핸드폰 번호 입력
        {
            $(this).val($(this).val().replace(/[^0-9]/g,""));
        });
        $('a[name=admin_search]').css('background-color','#437ece');

        /* 사용자 추가 */
        $("#add_user").click(function()
        {
            var userName = $('#insert_user_name').val();
            var phone = $('#insert_user_phone').val();
            if (userName == '')
            {
                alert('이름을 입력해주세요');
                return false;
            }
            if(phone == '')
            {
                alert('번호를 입력해주세요');
                return false;
            }
            var masterSrl = $('#masterSrl').val();
            var jsonData = { "userName" : userName , 'phone' : phone, 'masterSrl' : masterSrl};
            ajax_admin_add(jsonData);
        });
        //수정 버튼 클릭
        $('#editBtn').click(function(){
            var name = $('#name').val();
            var phone = $('#userPhone').val();
            $('#update_user_name').val(name);
            $('#update_user_phone').val(phone);
        });
        /* 사용자 정보 수정*/
        $('#complete_btn').click(function () {
            var userName = $('#update_user_name').val();
            var phone = remove_special_str($('#update_user_phone').val());
            if (userName == '')
            {
                alert('이름을 입력해주세요');
                return false;
            }
            if(phone == '')
            {
                alert('번호를 입력해주세요');
                return false;
            }
            var userSrl = $('#userSrl').val();
            var jsonData = { "userName" : userName , 'phone' : phone, 'userSrl' : userSrl};
            ajax_admin_update(jsonData);
        });

        function remove_special_str(str){
            var regExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-+<>@\#$%&\\\=\(\'\"]/gi;
            if(regExp.test(str)){
                str = str.replace(regExp, ""); // 찾은 특수 문자를 제거
            }
            return str;
        }

    });
</script>
<script th:src="@{/script/admin_asset_research/admin_asset_research.js}" type="text/javascript"></script>
<body>
	<div class="cd-main-header js-cd-main-header">
	<div id="main_ct" class="wrap">
    <div th:replace="fragments/header:: headInfoFragment"></div>
    <div th:replace="fragments/header:: headNavFragment"></div>
    <div class="depth2-bg"></div>
    <!-- 관리자 추가하기 modal -->
    <div id="obj-info-plus" class="company-modal">
        <div id="modal-content" class="modal-company">
            <div class="order-info-title">
                <div class="title">
                    <span>현장 기사 추가하기</span>
                    <span class="close"><img th:src="@{/image/popup-icon-close.svg}"></span>
                </div>
            </div>
            <div class="form" >
                <div class="form-box" style="margin-bottom:30px;">
                    <div class="title">
                        <div class="circle"></div>이름
                    </div>
                    <div class="text" >
                        <input type="text" id="insert_user_name" style="width:630px; height:80px; padding-left:40px; font-weight: 500;">
                    </div>
                </div>
                <div class="form-box">
                    <div class="title">
                        <div class="circle"></div>연락처
                    </div>
                    <div class="text" >
                        <input type="text" id="insert_user_phone" style="width:630px; height:80px; padding-left:40px; font-weight: 500;">
                    </div>
                </div>
                <div class="remark" style="width:100%; padding:20px 0 60px 150px; height:165px; float:left; color:#444444;">
                    자산관리자는 개인정보 입력 후 APP 사용이 가능합니다.<p>
                    <span style="font-weight: 500;">관리자 정보를 정확히 입력하세요.</span>
                </div>
            </div>
            <div class="obj-plus-btn">
                <button class="plus_btn" id="add_user"><span>추가하기</span></button>
            </div>
        </div>
    </div>
    <!-- //obj-info-plus -->
    <!-- 관리자 수정하기 modal-->
    <div id="obj-info-edit" class="company-modal">
        <div id="modal-content" class="modal-company">
            <div class="order-info-title">
                <div class="title">
                    <span>관리자 정보 수정하기</span>
                    <span class="close"><img th:src="@{/image/popup-icon-close.svg}"></span>
                </div>
            </div>
            <div class="form" >
                <div class="form-box" style="margin-bottom:30px;">
                    <div class="title">
                        <div class="circle"></div>이름
                    </div>
                    <div class="text" >
                        <input type="text" id="update_user_name" style="width:630px; height:80px; padding-left:40px; font-weight: 500;">
                    </div>
                </div>
                <div class="form-box">
                    <div class="title">
                        <div class="circle"></div>연락처
                    </div>
                    <div class="text" >
                        <input type="text" id="update_user_phone" style="width:630px; height:80px; padding-left:40px; font-weight: 500;">
                    </div>
                </div>
                <div class="remark" style="width:100%; padding:20px 0 60px 150px; height:165px; float:left; color:#444444;">
                    관리자 삭제는 C&Tech 고객센터로 문의하세요.<p>
                    <span style="font-weight: 500;">연락처 : 042.862.0142</span>
                </div>
            </div>
            <div class="obj-complete-btn">
                <button class="complete_btn" id="complete_btn"><span>수정 완료</span></button>
            </div>
        </div>
    </div>
    <!-- //obj-info-edit -->
		<div id="content-wrap">
			<div class="page-title-search-area">
				<div class="page-title">
					<div class="all-company">관리자 자산조회</div>
				</div>
				<!-- //page-title -->
                <div class="page-title-icon" style="width:50%; float:left; text-align:right; padding:26px 0;">
                    <span style="font-weight:bold; color:#fff; font-size:24px; margin-right:10px; vertical-align: middle;">현장기사 추가하기</span><img class="plus-btn" th:src="@{/image/common-icon-add.svg}" style="margin-right:54px; cursor: pointer;">
                </div>
			</div>
			<!-- //page-title-search-area -->
		</div>
		<!-- //content-wrap -->
		<!-- Sidebar -->
		<div class="w3-sidebar w3-collapse w3-white w3-animate-left"  style=" width:460px; overflow:hidden;"  id="mySidebar"><br>
			  <div class="w3-container-select">
			    <div class="filter-area">
                  <input type="hidden" id="navSort" th:value="${sortName}"/>
 				  <select id="userOption">
                        <option value="date">최신등록순</option>
                        <option value="count">수량 높은순</option>
                        <option value="name">이름순</option>
 				  </select>
 			  </div>
 			  <!-- // filter-area-->
			  </div>
			  <div class="container-text" style="height:1400px; overflow-y:auto; overflow-x:hidden;  ">
			  	<div class="section-box active" name="section-box" th:data-listNo="${myInfo.userSrl}" th:onclick="click_user(this.getAttribute('data-listNo'),'holder')" th:id="${myInfo.userSrl}">
			  		<a>
                        <!--자산 담당자일 경우는 com-icon-crown, 자산 관리자일 경우는 com-icon-->
                        <div class="com-icon-crown"><img th:src="@{/image/list-icon-crown.svg}"></div>
			  			<div class="com-name" th:text="${myInfo.userName}">홍길동A</div>
			  			<div class="com-total" th:text="${myInfo.totalObjCnt}">167</div>
			  		</a>
			  	</div>
			  	<div class="section-box" name="section-box" th:unless="${assetManagerListSize} == '0'" th:each="list : ${assetManagerList}"
                     th:data-listNo="${list.userSrl}" th:data-listAuth="${list.auth}"
                     th:id="${list.userSrl}" th:onclick="click_user(this.getAttribute('data-listNo'),this.getAttribute('data-listAuth'))">
			  		<a>
                        <div class="com-icon"><img style="opacity: 0;" th:src="@{/image/list-icon-crown.svg}"></div>
			  			<div class="com-name" th:text="${list.userName}">홍길동B</div>
			  			<div class="com-total" th:text="${list.totalObjCnt}">104</div>
			  		</a>
			  	</div>
			  </div>
		</div>
		<!-- // w3-sidebar w3-collapse w3-white w3-animate-left -->
		<!-- Overlay effect when opening sidebar on small screens -->
		<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
		<div class="w3-main" style="margin-left:460px; height:1750px;">
		  <!-- Header -->
		  <header id="company-all-info">
		    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()" style="background:url('/image/hamburger_menu.png') no-repeat ; width:50px; height:50px; background-size:50px; margin:20px;"><i class="fa fa-bars"></i></span>
            <div class="w3-container" style="padding:60px 50px;">
		    <div class="company-name" id="userName">
		    	<b th:text="|[관리 책임자] ${myInfo.userName}|">[자산담당자] 홍길동 A</b>
		    </div>
            <!-- //company-name -->
            <div id="editBtn" class="edit-icon edit-btn" style="cursor: pointer;">
                <span style="margin-right: 20px; font-size: 24px; vertical-align: middle; color: #666666;">수정하기</span><img th:src="@{/image/list-icon-edit.svg}">
            </div>
		   <!--//edit-icon-->
            <!--자산 등록이 안되어 있는 경우 Default-->
            <div class="company-info">
                <input type="hidden" id="masterSrl" th:value="${myInfo.userSrl}"/>
                <input type="hidden" id="userSrl" th:value="${myInfo.userSrl}"/>
                <input type="hidden" id="name" th:value="${myInfo.userName}"/>
                <input type="hidden" id="userPhone" th:value="${myInfo.phone}"/>
                <input type="hidden" id="totalObjCnt" th:value="${myInfo.totalObjCnt}"/>
                <ul class="info-list">
                    <li><b>관리자 연락처</b></li>
                    <li>전체 관리 자산</li>
                </ul>
                <ul class="info-text" id="userInfo">
                    <li>: <span style="font-weight: 600;" th:text="${myInfo.phone}">010-1234-5678</span><li>
                    <li>: <span th:text="|${myInfo.totalObjCnt} 개|">104개</span></li>
                </ul>
            </div>
            <!-- //company-info -->
            <!--자산이 등록되어 있는 경우
	    	<div class="company-info">
	    		<ul class="info-list">
	    			<li><b>담당자 연락처</b></li>
	    			<li>전체 관리 자산</li>
	    			<li>레이저 복합기</li>
                    <li>토너 카트리지</li>
	    		</ul>
	    		<ul class="info-text">
	    			<li>: <span style="font-weight: 600;">010-1234-5678</span><li>
	    			<li>: <span>104개</span></li>
	    			<li>: <span>28개</span></li>
                    <li>: <span>76개</span></li>
	    		</ul>
	    	</div>-->
	    	<!-- //company-info -->
		    </div>
		    <!-- //w3-container -->
		  </header>
  		 <div class="clear"></div>
		  <div class="w3-row-padding" style="padding:0 50px;">
				<div class="panel-heading">
					<div class="panel-group">
						<div class="panel-title">
							<div class="circle"></div>
							<span class="title">자산 관리 현황</span>
						</div>
						
						<div id="assetSelectBox" class="filter-area-panel" style="">
							<!-- <img th:src="@{/image/main/main-icon-search.svg}" style="position:relative; top:-50px; cursor:pointer;"></img>-->
							<input type="text" name=""  size="20" class="search-input" onFocus="$(this).animate({width:'19em'},300)" onBlur="$(this).animate({width:'5em'},300)" >
							<!-- <input type="text" id="" class="page-in-search" placeholder="업체 검색하기">
							<img th:src="@{/image/main/main-icon-search.svg}" style="cursor:pointer;"/></input> -->
		 				<!--자산 담당자를 클릭했을 경우 나오는 select
                        <select id="holderOption" th:if="${assetListSize} != '0'">
                            <option value="all"> 전체 관리 자산 </option>
                            <option value="return_finish"> 출고 대기 </option>
                           <!-- <option value="return_wait"> 반납 승인 필요 </option>
                        </select>
                        <!--자산 관리자를 클릭했을 경우 나오는 select 
                        <select id="managerOption">
                            <option value="all"> 전체 관리 자산 </option>
                            <option value="release_finish"> 출고 완료 </option>
		 				    <option value="return_start"> 반납 시작 </option>
                            <option value="return_wait"> 반납 승인 필요 </option>
                        </select> -->
                        </div>
			             <!-- // filter-area-->
					</div>
					<!--//panel-group-->
				</div>
				<!--//panel-heading-->
		  </div>
		  <div class="w3-container w3-padding-large" id="asset_container">
            <!-- default일 때 나오는 box  -->  
            <!--등록된 자산이 없을 때-->
            <div class="default-remark" th:if="${assetListSize} == '0'">
                등록된 자산이 없습니다.<p>
                아래 순서에 따라 자산을 등록하세요.
            </div>
            <!-- default 상태  -->
            <div class="default-wrap" th:if="${assetListSize} == '0'">
                <div class="default-box" >
                    <div class="box"></div>
                    <span>등록 예정 자산에<p>QR 코드 스티커 부착</span>
                </div>
                <div class="default-box" >
                    <div class="box"></div>
                    <span>'WEISER QR 자산관리'<p>APP 다운로드</span>
                </div>
                <div class="default-box" >
                    <div class="box"></div>
                    <span>APP 실행 후<p>'내부 자산 등록' 선택</span>
                </div>
            </div>
            <!--//default 상태  -->
            <!--자산 담당자일때 나오는 box 시작-->
                <!-- 출고 대기 -->
              <th:block th:unless="${assetListSize} == '0'">
                  <th:block th:each="list : ${assetList}">
                    <div class="item-wait" th:if="${list.objStatus eq 'return_finish'|| list.objStatus eq 'inner_wait'}"
                         th:id="${list.qrSrl}" th:onclick="load_detail_page(this)">
                        <div class="item">
                            <img th:src="@{${list.objImage}}">
                        </div>
                        <div class="item-text">
                            <div class="state">
                                <b>출고 대기</b>
                            </div>
                            <div class="date" th:text="${list.statusAt}">
                                2020.5.24, 10시 22분
                            </div>
                            <div class="date" th:text="${list.statusAt}">
                                <span>출고날짜 :</span> 2020.5.24
                            </div>
                        </div>
                    </div>
                    <div class="item-return-approve" th:if="${list.objStatus eq 'return_wait'}"
                         th:id='${list.qrSrl}' th:onclick="load_detail_page(this)">
                        <div class="item">
                            <img th:src="@{${list.objImage}}">
                        </div>
                        <div class="item-text">
                            <div class="state">
                                <b>반납 승인 필요</b>
                            </div>
                            <div class="item-id" th:text="${list.statusAt}">
                                2020.5.24 14시 54분
                            </div>
                        </div>
                    </div>
                  </th:block>
              </th:block>
		    </div>
            <!--//w3-container w3-padding-large-->
            <div class="page_count_wrap" id="paging_page">
           <!--     <span>
            <img src="list-left_next.svg" >
                </span>-->
                <span th:if="${pageHandler.prev}">
                        <img style="cursor:pointer" th:src="@{/image/paging/list-previous.svg}" th:id="${pageHandler.getStartPage()-1}" onclick="pageClick(this);"/>
                </span>
                    <span class="page_num" th:if="${assetListSize} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
                        <span class="page" style="cursor:pointer;" th:text="${index.current}" th:name="${index.current}" th:id="${index.current}" onclick="pageClick(this);">1</span>
                </span>
                <span th:if="${pageHandler.next}">
                        <img style="cursor:pointer" th:src="@{/image/paging/list-next.svg}" th:id="${pageHandler.getEndPage()+1}" onclick="pageClick(this);"/>
                </span>
          <!--  <span>
                <img src="list-right_end.svg" >
            </span>-->
            </div>
            <!--//page_count_wrap--> 
		  </div>
		</div>
		<!-- //w3-main -->
	</div>
	<!--//main_ct-->
    <footer th:replace="fragments/header:: headFooterFragment"></footer>
</body>
</html>