<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<link rel="stylesheet" th:href="@{/css/delivery.css}">
<style>
    .selectTable{  float:right; margin-bottom:25px; position: relative; top:-25px;
        cursor: pointer;}
    .selectTable select{ cursor:pointer; font-size:24px; width:200px; border:none; margin-right:5px; background:url('/image/common-icon-sourting-down.svg') 90% 50%; background-repeat: no-repeat;}
    option:hover { cursor: pointer; }
    select, option {
        text-align:right;
    }
</style>
<script th:src="@{/script/delivery.js}" type="text/javascript"></script>
<script>
    var _nameSort = null;
    var _typeSort = null;
    var _searchKeyWord = null;
    $(function()
    {
        $('a[name=admin_search]').css('background-color','#437ece');
        _nameSort  = $('#sortName').val();
        _typeSort = $('#filterName').val();
        _searchKeyWord = $('#searchValue').val();

        $('#nameSort option').each(function()
        {
            if(this.value == _nameSort)
            {
                $(this).prop('selected', 'selected');
            }
        });
        $('#typeSort option').each(function()
        {
            if(this.value == _typeSort)
            {
                $(this).prop('selected', 'selected');
            }
        });
        var pageNum = $('#pageNum').val();
        $('#'+pageNum).css('font-weight',800);

        $('#nameSort').change(function()
        {
            _nameSort = $(this).val();
            if(_typeSort == null)
            {
                if(_searchKeyWord != 'null')
                {
                    location.href = "/asset/list/search/"+_searchKeyWord+"/sort/"+_nameSort+"/type/all/pageNum/1";
                    return false;
                }
                location.href = "/asset/list/sort/"+_nameSort+"/type/all/pageNum/1";
            }
            else
            {
                if(_searchKeyWord != 'null')
                {
                    location.href = "/asset/list/search/"+_searchKeyWord+"/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/1";
                    return false;
                }
                location.href = "/asset/list/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/1";
            }
        });
        $('#typeSort').change(function()
        {
            _typeSort = $(this).val();
            if(_nameSort == null)
            {
                if(_searchKeyWord != 'null')
                {
                    location.href = "/asset/list/search/"+_searchKeyWord+"/sort/model/type/"+_typeSort+"/pageNum/1";
                    return false;
                }
                location.href = "/asset/list/sort/model/type/"+_typeSort+"/pageNum/1";
            }
            else
            {
                if(_searchKeyWord != 'null')
                {
                    location.href = "/asset/list/search/"+_searchKeyWord+"/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/1";
                    return false;
                }
                location.href = "/asset/list/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/1";
            }
        });

        $("span[name=pageNum]").click(function()
        {
            var pageNum = $(this).attr('id');
            location.href = "/asset/list/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/"+pageNum;
        });
        $("img[name=pageNum]").click(function()
        {
            var pageNum = $(this).attr('id');
            location.href = "/asset/list/sort/"+_nameSort+"/type/"+_typeSort+"/pageNum/"+pageNum;
        });

        $('#companyNameSearch').keyup(function(key)
        {
            if(key.keyCode == 13)
            {
                var searchKeyWord = $('#companyNameSearch').val();
                if(searchKeyWord == '')
                {
                    alert('키워드를 입력해주세요.');
                    return false;
                }
                location.href = "/asset/list/search/"+searchKeyWord+"/sort/model/type/all/pageNum/1";
            }
        });
    });

    function load_detail_page(srl)
    {
        location.href = "/obj/detail/search/"+srl;
    }

</script>
<body>
<div class="cd-main-header js-cd-main-header">
    <div id="main_ct" class="wrap">
        <div th:replace="fragments/header:: headInfoFragment"></div>
        <div th:replace="fragments/header:: headNavFragment"></div>
        <div class="depth2-bg"></div>
        <!-- title -->
        <div id="title-wrap">
            <div class="page-title-search-area">
                <!-- page-title -->
                <div class="page-title">
                    <div class="all-company">자산 목록</div>
                </div>
                <!-- //page-title -->
                <div class="page-title" style="padding:26px 0px !important;">
                    <div class="excelDown" style="text-align:right;">
                        <!--엑셀 다운로드 -->
                        <form th:method="post" th:action="@{/asset/list/excel/download}">
                            <input type="hidden" name="searchValue" id="searchValue" th:value="${searchValue}"/>
                            <input type="hidden" name="pageNum" id="pageNum" th:value="${pageNum}"/>
                            <input type="hidden" name="filterName" id="filterName" th:value="${filterName}"/>
                            <input type="hidden" name="sortName" id="sortName" th:value="${sortName}"/>
                            <button type="submit" style="background-color:#437ece; border:none; color:#fff; font-size:24px; font-weight:bold; vertical-align:middle; margin-right:60px;">엑셀 다운로드
                            <img th:src="@{/image/main/main-icon-graph-exceldown.svg}" style="width:68px; "></img></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- //title -->
        <!-- tab content -->
        <div id="tab_content_wrap">
            <div id="tab-1" class="tab-content current">
                <div id="panel-wrap-register" class="text_left">
                    <div class="regiseter-panel-heading">
                        <div class="regiseter-panel-group">
                            <div class="regiseter-panel-title">
                                <div style="float:left; width:100%;">
                                    <div class="circle"></div><span class="title">총 <span id="register_complete_tot" th:text="${size}">167</span>자산</span></p>
                                </div>
                                <div class="btn-wrap" style=" float:right; position: relative; bottom:10px;">
                                </div>
                                <div class="selectTable">
                                    <select id="nameSort">
                                        <option value="company">거래처</option>
                                        <option value="model">모델명</option>
                                        <option value="name">관리자</option>
                                    </select>
                                    <select id="typeSort">
                                        <option value="all">전체</option>
                                        <option value="undefined">미정</option>
                                        <option value="machine">복합기</option>
                                        <option value="crusher">문서 파쇄기</option>
                                        <option value="purifier">공기 청정기</option>
                                        <option value="ink">무한 잉크 공급기</option>
                                    </select>
                                </div>
                                <div style="float:left;">
                                    <input type="text" id="companyNameSearch" size="20" class="search-input" onFocus="$(this).animate({width:'15em'},300)" onBlur="$(this).animate({width:'0em'},300)" placeholder="거래처 명을 검색하세요" >
                                </div>
                            </div>
                            <!--//regiseter-panel-title-->
                        </div>
                        <!--//regiseter-panel-group-->
                    </div>
                    <!--//regiseter-panel-heading-->
                </div>
                <!--//panel-wrap-register-->
                <div id="regisster_waitList">
                    <table style="border-bottom:2px solid #d7d7d7; table-layout:fixed;">
                        <colgroup>
                            <col width="10%" />
                            <col width="16%" />
                            <col width="16%" />
                            <col width="16%" />
                            <col width="10%" />
                            <col width="16%" />
                        </colgroup>
                        <thead>
                        <tr>
                            <th>자산상태</th>
                            <th>자산종류</th>
                            <th>모델명</th>
                            <th>시리얼넘버</th>
                            <th>관리자</th>
                            <th>자산 위치</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:if="${size} == '0'">
                            <td colspan=6>데이터가 없습니다.</td>
                        </tr>
                        <tr th:unless="${size} == '0'" th:each="list : ${list}" style="cursor:pointer;"
                            th:data-srl="${list.qrSrl}"
                            th:onclick="load_detail_page(this.getAttribute('data-srl'))">
                            <td th:text="${list.objStatus}">반납대기</td>
                            <td th:text="${list.objKinds}">복합기</td>
                            <td th:text="${list.modelName}" style="width:100px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">MODELNAME</td>
                            <td th:text="${list.srlName}" style="width:100px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">MODELNAME</td>
                            <td th:text="${list.userName}">현상원</td>
                            <td th:text="${list.companyName}" style="width:100px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;">(주)상원랜드</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="page_count_wrap">
                    <!--<span>
                        <img src="list-left_next.svg" >
                    </span>-->
                    <span th:if="${pageHandler.prev}">
                        <img style="cursor:pointer" th:src="@{/image/paging/list-previous.svg}" th:id="${pageHandler.getStartPage()-1}" name="pageNum"/>
                    </span>
                    <span class="page_num" th:if="${size} != '0'" th:each="i,index: ${#numbers.sequence(pageHandler.getStartPage(),pageHandler.getEndPage())}">
                        <span class="page" style="cursor:pointer;" th:text="${index.current}" th:id="${index.current}" name="pageNum">1</span>
                    </span>
                    <span th:if="${pageHandler.next}">
                        <img style="cursor:pointer" th:src="@{/image/paging/list-next.svg}" th:id="${pageHandler.getEndPage()+1}" name="pageNum"/>
                    </span>
                    <!--<span>
                        <img src="list-right_end.svg" >
                    </span>-->
                </div>
                <!--//page_count_wrap-->
            </div>
        </div>
        <!--//tab-1-->
    </div>
    <!-- tab content -->
    <!-- //cd-main-header js-cd-main-header -->
    <footer th:replace="fragments/header:: headFooterFragment"></footer>
</body>
</html>