<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<link rel="stylesheet" th:href="@{/css/detail_obj.css}">
<style>
    .category, .category *{margin:0;padding:0;color:#000;}
    .category {position:absolute;overflow:hidden; top:1270px;left:80px;width:300px;height:50px;z-index:10;font-size:12px;text-align:center;}
    .category li{list-style:none;float:left;width:120px;height:34px;padding-top:5px;cursor:pointer; background-color: rgba(255, 255, 255, 0.9); margin:0 4px; font-size:18px; border-radius:3px; font-weight:600;}
</style>
<!--카카오 지도 API -->
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=f283c9704c76d19621ebd286c77b5d5a&libraries=services"></script>
<script th:src="@{/script/detail_obj.js}" type="text/javascript"></script>
<script>
    $(function()
    {
        var option = $('#objKinds').val();
        if('복합기' == option)
        {
            $(".selectObj option:eq(1)").attr("selected", "selected");
        }
        if('문서 파쇄기' == option)
        {
            $(".selectObj option:eq(2)").attr("selected", "selected");
        }
        if('공기 청정기' == option)
        {
            $(".selectObj option:eq(3)").attr("selected", "selected");
        }
        if('무한 잉크 공급기' == option)
        {
            $(".selectObj option:eq(4)").attr("selected", "selected");
        }
        $(".delete-btn").click(function() {$("#company-info").css({"display": "block"});});
        $(".close").click(function() {$("#company-info").css({"display": "none"});});
        manage_history_paging(1);
        create_map();
        $('.qr_edit').click(function(){
            $('.selectObj').attr('disabled',false);
        });
    });
</script>
<body>
<div class="cd-main-header js-cd-main-header">
    <div id="main_ct" class="wrap">
    <div th:replace="fragments/header:: headInfoFragment"></div>
    <div th:replace="fragments/header:: headNavFragment"></div>
    <div class="depth2-bg"></div>
        <!-- The Modal -->
        <div id="company-info" class="company-modal" style="border:1px solid #000;">
            <!-- Modal content -->
            <div id="modal-content" class="modal-company">
                <div class="order-info-title">
                    <div class="title">
                        <span>자산 삭제하기</span>
                        <span class="close"><img th:src="@{/image/popup-icon-close.svg}"></span>
                    </div>
                </div>
                <!-- //order-info-title -->
                <div class="form" style=" height:150px; font-size:28px; font-weight: 300; line-height: 45px;">
                    해당 자산을 삭제하시겠습니까?<p>
                    자산이 삭제되면 관리이력과 QR 스티커 정보가 지워집니다.<p>
                    자산 삭제 후 부착된 QR 스티커를 제거해주세요.<p>
                </div>
                <div class="company-delete-btn">
                    <button class="comapny_info_btn" onclick="delete_asset();"><span>자산 삭제하기</span></button>
                </div>
            </div>
            <!-- //modal -->
        </div>
        <!-- //company-info -->
        <!-- title -->
        <div id="title-wrap">
            <div class="page-title-search-area">
                <!-- page-title -->
                <div class="page-title">
                    <div class="all-company">자산 상세보기</div>
                </div>
                <!-- //page-title -->
                <div style="width: 48%; text-align: right; float:left; vertical-align: middle; padding:23px 0; cursor: pointer;">
                    <span style="font-weight:bold; color:#fff; font-size:24px; margin-right:10px; vertical-align: middle;">자산 삭제하기</span><img th:src="@{/image/common-icon-delete-white.svg}" class="delete-btn">
                </div>
            </div>
        </div>
        <!-- //title -->
        <!-- tab content -->
        <div id="tab_content_wrap">
            <div id="tab-1" class="tab-content current">
                <div class="obj-box" style="height:855px;">
                    <div id="panel-wrap-register" class="text_left">
                        <div class="regiseter-panel-heading">
                            <div class="regiseter-panel-group">
                                <div class="regiseter-panel-title">
                                    <div style="float:left; width:100%;">
                                        <div class="circle"></div><span class="title">자산 기본 정보</span></p>
                                    </div>
                                </div>
                                <!--//regiseter-panel-title-->
                            </div>
                            <!--//regiseter-panel-group-->
                        </div>
                        <!--//regiseter-panel-heading-->
                    </div>
                    <!--//panel-wrap-register-->
                    <input id="objKinds" th:value="${vo.objKinds}" type="hidden"/>
                    <div class="obj-info">
                        <div class="list" style="font-weight:600;">관리자 : <span th:text="${vo.userName}">현상원</span></div>
                        <div class="list">연락처 : <span th:text="${vo.userPhone}">01012345678</span></div>
                    </div>
                    <!--//obj-info-->
                    <!-- 20.05.15 추가-->
                    <div class="edit-wrap" style="width:82%; height:44px; float:left; text-align: right;margin-bottom:40px; ">
                        <select class="selectObj" disabled>
                            <option value="null">미정</option>
                            <option value="machine">복합기</option>
                            <option value="crusher">문서 파쇄기</option>
                            <option value="purifier">공기 청정기</option>
                            <option value="ink">무한 잉크 공급기</option>
                        </select>
                        <div onclick="qr_edit(this)" class="qr_edit">
                            <span style="color:#666; font-size:24px; vertical-align: middle;">수정하기</span>
                            <img th:src="@{/image/list-icon-edit.svg}">
                        </div>
                        <div onclick="qr_save(this)" class="qr_save">
                            <span style="color:#666; font-size:24px; vertical-align: middle;">저장하기</span>
                            <img th:src="@{/image/list-icon-edit-complate.svg}">
                        </div>
                    </div>
                    <!-- //20.05.15 추가-->
                    <div class="obj-image">
                        <div class="list-img">
                            <div class="list-title">
                                QR ID
                            </div>
                            <div class="title-text" th:text="${vo.qrSrl}" id="qrSrl" style="margin:12px 0 50px 0;">
                                20202000504-00000001
                            </div>
                            <div class="obj-id-img">
                                <img th:src="@{${vo.objImage}}">
                            </div>
                        </div>
                    </div>
                    <!--//obj-image-->
                    <div class="obj-image">
                        <div class="list-img">
                            <div class="list-title">
                                Model
                            </div>
                            <div class="title-text">
                                <textarea id="modelName" name="qr1" rows="2" cols="24" wrap="virtual" disabled="disabled" th:text="${vo.modelName}"></textarea>
                            </div>
                            <div class="obj-model-img">
                                <div class="model-img">
                                     <img th:src="@{${vo.objModelImage}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//obj-image-->
                    <div class="obj-image">
                        <div class="list-img">
                            <div class="list-title">
                                Serial Number
                            </div>
                            <div class="title-text">
                                <textarea id="srlName" name="qr2" rows="2" cols="24" wrap="virtual" disabled="disabled" th:text="${vo.srlName}"></textarea>
                            </div>
                            <div class="obj-serial-img">
                                <div class="serial-img">
                                     <img th:src="@{${vo.objSrlImage}}">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--//obj-image-->
                </div>
                <!--//obj-box-->
                <div class="obj-box" style="height:840px;">
                    <div id="panel-wrap-register" class="text_left">
                        <div class="regiseter-panel-heading">
                            <div class="regiseter-panel-group">
                                <div class="regiseter-panel-title">
                                    <div style="float:left; width:100%;">
                                        <div class="circle"></div><span class="title">자산 위치 정보</span></p>
                                    </div>
                                </div>
                                <!--//regiseter-panel-title-->
                            </div>
                            <!--//regiseter-panel-group-->
                        </div>
                        <!--//regiseter-panel-heading-->
                    </div>
                    <!--//panel-wrap-register-->
                    <div class="obj-info" style="line-height:43px;">
                        <div class="list" style="font-weight:600; margin:20px 0; " th:text="${vo.companyName}">(주)외부 기기사용 업체명</div>
                        <div class="list">연락처 : <span th:text="${vo.companyPhone}">01012345678</span></div>
                        <div class="list">입력주소 : <span th:text="${vo.inputAddr}">서울시 관악구 신림동 대성빌딩 3층 31호</span></div>
                        <!--<div class="list">GPS 추적 : <span th:text="${vo.addr}">서울시 관악구 신림동 서울대학로 123-4</span></div>-->
                        <div class="list"><b>자산의 GPS가 입력 주소로부터 <span th:text="|${vo.radiusDistance}m|">200m</span> 거리에서 수신되었습니다.</b></div>
                    </div>
                    <!--//obj-info-->
                    <!--GPS Hidden--->
                    <input type="hidden" id="latitude" th:value="${vo.latitude}"/>
                    <input type="hidden" id="longitude"th:value="${vo.longitude}"/>
                    <input type="hidden" id="companyLat"th:value="${vo.companyLat}"/>
                    <input type="hidden" id="companyLon"th:value="${vo.companyLon}"/>
                    <!--END-->
                    <!--KAKAO MAP-->
                    <div id="map" style="width: 1100px; height:520px; float:left; position: relative;"></div>
                    <div class="category">
                        <ul>
                            <li id="coffeeMenu">
                                <span style="margin-right:5px;"><img th:src="@{/image/main/main-icon-map-c.svg}"></span>
                                입력 위치
                            </li>
                            <li id="storeMenu">
                                <span style="margin-right:5px;"><img th:src="@{/image/main/main-icon-map-a.svg}"></span>
                                GPS 위치
                            </li>
                        </ul>
                    </div>
                </div>
                <!--//obj-box-->
                <div class="obj-box" style="width:100%;">
                    <div id="panel-wrap-register" class="text_left" style="height:30px; padding-bottom:30px;">
                        <div class="regiseter-panel-heading">
                            <div class="regiseter-panel-group">
                                <div class="regiseter-panel-title">
                                    <div style="float:left; width:100%;">
                                        <div class="circle"></div><span class="title">자산 관리 이력</span></p>
                                    </div>
                                </div>
                                <!--//regiseter-panel-title-->
                            </div>
                            <!--//regiseter-panel-group-->
                        </div>
                        <!--//regiseter-panel-heading-->
                    </div>
                    <!--//panel-wrap-register-->
                    <div id="regisster_waitList">
                        <table style="margin-top:30px; border-bottom:2px solid #d7d7d7;">
                            <colgroup>
                                <col width="25%" />
                                <col width="25%" />
                                <col width="25%" />
                                <col width="25%" />
                            </colgroup>
                            <thead>
                            <tr>
                                <th>관리일</th>
                                <th>관리자</th>
                                <th>자산 위치</th>
                                <th>자산 상태</th>
                            </tr>
                            </thead>
                            <tbody id="objHistoryList">
                            </tbody>
                        </table>
                    </div>
                    <div class="page_count_wrap" id="pageHandler">
                    </div>
                    <!--//page_count_wrap-->
                </div>
                <!--//obj-box-->
            </div>
            <!--//cd-main-header js-cd-main-header-->
            <footer th:replace="fragments/header:: headFooterFragment"></footer>
</body>
</html>