<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<link rel="stylesheet" th:href="@{/css/my_info_edit.css}">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");

    function execPostCode()
    {
        new daum.Postcode({
            oncomplete: function(data) {
                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }
                $("[name=zipCode]").val(data.zonecode);
                $("[name=addr]").val(fullRoadAddr);
            }
        }).open();
    }
</script>
<body>
<div class="cd-main-header js-cd-main-header">
    <div id="main_ct" class="wrap">
        <div th:replace="fragments/header:: headInfoFragment"></div>
        <div th:replace="fragments/header:: headNavFragment"></div>
        <div class="depth2-bg"></div>
        <div id="title-wrap">
            <div class="page-title-search-area">
                <!-- page-title -->
                <div class="page-title">
                    <div class="all-company">내 정보 수정</div>
                </div>
                <!-- //page-title -->
            </div>
        </div>
        <!-- //title -->
        <div id="content-wrap">
            <div class="process-area">
			</div>
			<!-- //process-area -->
            <div class="profile-info-area">
                <div class="profile-info">
                    <div class="form-title">
                    회원정보
                    </div>
                    <div class="customer-name">
                        <div class="customer-text">
                            <div class="circle"></div>이름
                        </div>
                        <input type="hidden" id="userSrl" name="userSrl" th:value="${userSrl}" />
                        <input type="text" id="name" name="name" th:value="${name}" />
                    </div>
          			<div class="customer-phone">
	          			<div class="customer-text" >
                            <div class="circle"></div>휴대전화 번호
                        </div>
                        <input id="customer_phone" name="number" th:value="${phone}" maxlength="11" type="text" onKeyDown="return onlyNumber(event)"/>
          			</div>
                    <div class="form-title" style="margin-top:40px;">
                        비밀번호
                        <div class="edit-icon edit-btn" style="cursor: pointer; float:right;">
                            <span style="margin-right: 20px; font-size: 24px; vertical-align: middle; color: #666666;">수정하기</span>
                            <img th:src="@{/image/list-icon-edit.svg}" onclick="update_password('update');">
                        </div>
                       <!--//edit-icon-->
                    </div>
                    <div class="customer-password">
	          			<div class="customer-password-text">
                            <div class="circle"></div>비밀번호
                        </div>
                        <input name="password" value="*****" type="password" disabled/>
          			</div>
                    <div class="new-password-area" style="float:left; display: none;">
                        <div class="customer-new-password">
                            <div class="customer-password-text">
                                <div class="circle"></div>신규 비밀번호
                            </div>
                            <input type="password" id="password_1" class="pw" value="">
                        </div>
                        <div class="customer-new-check-password">
                            <div class="customer-password-text">
                                <div class="circle"></div>신규 비밀번호 확인
                            </div>
                              <input type="password" id="password_2" class="pw" value="">
                        </div>
                        <div class="edit-icon-area" style="float:left; width:68%; height:50px; text-align: right; padding-left:300px; ">
                            <div id="alert-danger" class="error-text">Error Text 비밀번호가 일치하지 않습니다.</div>
                            <button class="password-complete-btn">수정완료<img th:src="@{/image/list-icon-edit-complate.svg}"></button>
                            <button class="password-cancel-btn" onclick="update_password('cancel')">수정취소<img th:src="@{/image/list-icon-edit-cancel.svg}"></button>
                        </div>
                    </div>
                    <div class="form-title" style="margin-top:40px;">
                        회사정보
                    </div>
                    <div class="company-name">
                        <div class="company-text">
                            <div class="circle"></div>회사 이름
                        </div>
                        <input type="text" id="companyName" name="name" th:value="${companyName}" />
                    </div>
                    <div class="company-phone">
                        <div class="company-text">
                            <div class="circle"></div>회사 연락처
                        </div>
                        <input type="text" id="companyPhone" name="name" maxlength="11" th:value="${companyPhone}" onKeyDown="return onlyNumber(event)" />
                    </div>
                    <div class="company-address">
                        <div class="company-text">
                            <div class="circle"></div>회사 주소
                        </div>
                        <input type="text" id="companyAddr" name="addr" th:value="${companyAddr}" style="width:500px; margin-bottom:10px;"/>
                        <button class="address-button" onclick="execPostCode();">우편번호 찾기</button>
                        <input type="text" name="zipCode" value="" style="width:700px;"/>
                    </div>
          		</div>
                <div class="edit-complete-btn">
                    <button class="edit-complete" onClick="finishBtn();">
                        <span>수정사항 저장</span>
                    </button>
                </div>
            </div>
            <!-- //order-list-select-area -->
        </div>
        <!-- //content-wrap -->
    </div>
    <!--//main_ct-->
    <footer th:replace="fragments/header:: headFooterFragment"></footer>
</div>
</body>
<script>
        var _count = 0;

        /* 전화번호 숫자 입력*/
        function onlyNumber(event){
            event = event || window.event;
            var keyID = (event.which) ? event.which : event.keyCode;
            if ( (keyID >= 48 && keyID <= 57) || (keyID >= 96 && keyID <= 105) || keyID == 8 || keyID == 46 || keyID == 37 || keyID == 39 ) 
                return;
            else{
                alert("숫자만 입력가능합니다.");
            }
        }
        /* 비밀번호 일치하지 않을 때*/
        $('.pw').focusout(function () {
                var pwd1 = $("#password_1").val();
                var pwd2 = $("#password_2").val();

                if ( pwd1 != '' && pwd2 == '' ) {
                    null;
                } else if (pwd1 != "" || pwd2 != "") {
                    if (pwd1 == pwd2) {
                        $("#alert-danger").css('display', 'none');
                    } else {
                        $("#alert-danger").css('display', 'inline-block');
                        return false;
                    }
                }
            });

        function update_password(status)
        {
            if(status == 'update')
            {
                ++_count;
            }
            if(status == 'cancle')
            {
                _count=0;
            }
        }
        /* 수정사항 완료 */
        function finishBtn()
        {
            var name = $('#name');
            var phone = $('#customer_phone');
            var password_2 = $('#password_2');
            var companyName = $('#companyName');
            var companyPhone = $('#companyPhone');
            var companyAddr = $('#companyAddr');
            var userSrl = $('#userSrl');

            if(_count > 0)
            {
                if(password_2.val() == '')
                {
                    alert('비밀번호를 입력해주세요.');
                    password_2.focus();
                    return false;
                }
            }
            if(name.val() == '')
            {
                alert('이름을 입력 해주세요.');
                name.focus();
                return false;
            }
            if(phone.val() == '')
            {
                alert('번호를 입력 해주세요.');
                phone.focus();
                return false;
            }
            if(companyName.val() == '')
            {
                alert('회사이름을 입력해주세요');
                companyName.focus();
                return false;
            }
            if(companyAddr.val() == '')
            {
                alert('회사주소를 입력해주세요');
                companyAddr.focus();
                return false;
            }
            if(companyPhone.val() == '')
            {
                alert('회사번호를 입력해주세요');
                companyPhone.focus();
                return false;
            }

            var jsonData = {'userSrl' : userSrl.val() , 'userName' : name.val() , 'phone' : phone.val(), 'password': password_2.val(),
                'companyName' : companyName.val(), 'companyPhone': companyPhone.val(), 'addr' : companyAddr.val()};
            if(password_2.val() == '')
            {
                jsonData.password = null;
            }

            ajax_user_info_update(jsonData);
        }

        function ajax_user_info_update(data)
        {
            console.log(JSON.stringify(data));
            $.ajax
            ({
                type: 'POST',
                contentType: "application/json",
                url:'/ajax/holder/myinfo',
                data : JSON.stringify(data),
                beforeSend : function(xhr)
                {
                    xhr.setRequestHeader(header, token);
                },
                dataType : "text",
                cache : false,
                success : function(data)
                {
                    if(data == 'true')
                    {
                        alert('회원정보 수정 완료');
                        location.reload();
                    }
                },
                error : function(xhr, status, error)
                {
                    console.log('error ====> ' + error);
                }
            });
        }
        
        /* 수정하기,수정취소 버튼 눌렀을 때*/
        $(document).ready(function(){
            $('.edit-icon').click(function(){
                $('.new-password-area').show();
            });
            $('.password-cancel-btn').click(function(){
                $('.new-password-area').hide();
            });
            /* 수정완료 버튼 눌렀을 때*/
            $('.password-complete-btn').click(function(){
                alert("수정이 완료되었습니다.");
                $('.new-password-area').hide();
            });
        });
    </script>
</html>