<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/config :: configFragment"></head>
<link rel="stylesheet" th:href="@{/css/service_order.css}">
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    var _flag = true;

    $(function()
    {
        $('a[name=service]').css('background-color','#437ece');

        $('#qrCnt').keyup(function(e)// 주문 수량 입력
        {
            $(this).val($(this).val().replace(/[^0-9]/g,""));
        });
        $('#userPhone').keyup(function(e) // 핸드폰 번호 입력
        {
            $(this).val($(this).val().replace(/[^0-9]/g,""));
        });

        $('#defaultAddr').click(function(){
            $('#newAddr').removeClass('btn-active');
            $('#defaultAddr').addClass('btn-active');
            $('#div_old_addr').css('display','block');
            $('#div_new_addr').css('display','none');
            _flag = true;
        });

        $('#defaultName').click(function () {
            $('#newName').removeClass('btn-active');
            $('#defaultName').addClass('btn-active');
            $('#userName').val($('#h_userName').val());
            $('#userPhone').val($('#h_userPhone').val());
        });

        $('#newName').click(function(){
            $('#userName').val('');
            $('#userPhone').val('');
        });

    });

    function execPostCode()
    {
        new daum.Postcode({
            oncomplete: function(data)
            {
                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if(fullRoadAddr !== ''){
                    fullRoadAddr += extraRoadAddr;
                }
                $("[name=zipCode]").val(data.zonecode+', '+fullRoadAddr);
                $('#h_addr').val(data.zonecode+', '+fullRoadAddr);
            }
        }).open();
    }

    function qr_order()
    {
        var maxCnt = $('#myCnt').val();
        var qrCnt = $('#qrCnt').val();
        if(qrCnt == "")
        {
            qrCnt = 0;
        }
        if (parseInt(maxCnt) < parseInt(qrCnt)) {
            alert('주문수량을 초과했습니다.');
            $('#qrCnt').val();
            $('#qrCnt').focus();
            return false;
        }
        if(qrCnt == 0)
        {
            alert('수량을 입력해주세요.');
            $('#qrCnt').focus();
            return false;
        }
        if($('#companyAddr').val() == '' || $('#companyDetailAddr').val() == '')
        {
            alert('주소를 입력해주세요.');
            $('#companyAddr').focus();
            return false;
        }

        if(!_flag)
        {
            if($("[name=zipCode]").val() == '' || $("[name=addr]").val() == '')
            {
                alert('주소를 입력해주세요.');
                $('#companyAddr').focus();
                return false;
            }
        }

        if($('#userName').val() == '')
        {
            alert('주문자 이름을 입력해주세요');
            $('#userName').focus();
            return false;
        }
        if($('#userPhone').val() == '')
        {
            alert('주문자 연락처를 입력해주세요');
            $('#userPhone').focus();
            return false;
        }

        if(_flag)
        {
            $("input[name=addr]").val($('#companyAddr').val());
            $("input[name=detailAddr]").val($('#companyDetailAddr').val());
        }
        $("input[name=orderCnt]").val($('#qrCnt').val());
        $("input[name=userName]").val($('#userPhone').val());
        $("input[name=userPhone]").val($('#userName').val());
        $("input[name=orderRequests]").val();
        if($("[name=zipCode]").val() != '')
        {
            $('#h_detailAddr').val($('#newDetailAddr').val());
        }
        $('#orderForm').submit();
    }

    function set_text(status)
    {
        if(status == 'addr')
        {
            $('#defaultAddr').removeClass('btn-active');
            $('#newAddr').addClass('btn-active');

            $('#companyAddr').attr('disabled', false);
            $('#companyDetailAddr').attr('disabled', false);
            $('#companyAddr').val();
            $('#companyDetailAddr').val();
            _flag = false;
            $('#div_old_addr').css('display','none');
            $('#div_new_addr').css('display','block');
        }
        if(status == 'order')
        {
            $('#defaultName').removeClass('btn-active');
            $('#newName').addClass('btn-active');

            $('#userName').attr('disabled', false);
            $('#userPhone').attr('disabled', false);
            $('#userName').val();
            $('#userPhone').val();
        }
    }
</script>
<body>
<div class="cd-main-header js-cd-main-header">
    <div id="main_ct" class="wrap">
        <div th:replace="fragments/header:: headInfoFragment"></div>
        <div th:replace="fragments/header:: headNavFragment"></div>
        <div class="depth2-bg"></div>
        <div id="title-wrap">
            <div class="page-title-search-area">
                <!-- page-title -->
                <div class="page-title">
                    <div class="all-company">서비스 주문하기</div>
                </div>
                <!-- //page-title -->
            </div>
        </div>
        <!-- //title -->
        <div id="content-wrap">
            <div class="process-area">
            </div>
            <!-- //process-area -->
            <div class="order-list-select-area">
                <div class="new-order-info">
                    <form th:action="@{/order/qr}" th:method="post" id="orderForm">
                        <input type="hidden" name="userSrl"  th:value="${userSrl}"/>
                        <input type="hidden" name="addr" id="h_addr"/>
                        <input type="hidden" name="detailAddr" id="h_detailAddr"/>
                        <input type="hidden" name="orderCnt" />
                        <input type="hidden" name="userName" />
                        <input type="hidden" name="userPhone" />
                        <input type="hidden" name="orderRequests" />
                    </form>
                    <div class="input-box" >
                        <div class="input-box-text">
                            <span>*</span>QR스티커 주문 수량</div>
                        <fieldset class="qrBox">
                            <input id="qrCnt" type="text" placeholder="0">
                            <input id="myCnt" type="hidden" th:value="${cnt}">
                            <label class="qrCntTot" th:text="|/ ${cnt}개|">/ 120개</label>
                        </fieldset>
                    </div>
                    <div class="order-address">
                        <div class="order-address-text">
                            <span>*</span>QR스티커 수령 장소
                        </div>
                        <div class="order-address-select">
                            <button id="defaultAddr" type="button" class="address-button btn-active">기본 배송지</button>
                            <button id="newAddr" type="button" class="address-button" onclick="set_text('addr')">신규 배송지</button>
                        </div>
                        <!--기존 배송지 active 일 때-->
                        <div id="div_old_addr" style="display: block;">
                            <input class="order-zipCode"  id="companyAddr" type="text" style="width:706px;" th:value="${companyAddr}" disabled/>
                            <input class="order-addr" id="companyDetailAddr" type="text" th:value="${detailAddr}" disabled/>
                        </div>
                        <input id="h_companyAddr" type="hidden" th:value="${companyAddr}" />
                        <input id="h_companyDetailAddr" type="hidden" th:value="${detailAddr}"/>
                        <!--
                        신규 배송지 active 일 때  -->
                        <div id="div_new_addr" style="display: none;">
                            <input class="order-zipCode" name="zipCode" type="text" placeholder="우편번호를 검색하세요." />
                            <input class="order-addr" name="addr" id="newDetailAddr" type="text" placeholder="상세주소를 입력하세요." />
                            <button class="postCode-btn" onclick="execPostCode();" id="postCode" type="button" style="color: #666; cursor: pointer; margin-left:20px; background-color:#fff">우편번호 검색</button>
                        </div>
                    </div>
                    <div class="order-member">
                        <div class="order-member-text">
                            <span>*</span>주문자 이름
                        </div>
                        <div class="order-member-select">
                            <button id="defaultName" type="button" class="phone-button btn-active">기본 주문자</button>
                            <button id="newName" type="button" class="phone-button" onclick="set_text('order')">신규 주문자</button>
                        </div>
                        <!--기본 주문자 active 일 때-->
                        <input type="text" id="userName" th:value="${phone}" disabled/>
                        <input type="hidden" id="h_userName" th:value="${phone}"/>
                        <!--신규 주문자 active 일 때
                         <input type="text" name="name" />-->
                    </div>

                    <div class="order-phone">
                        <div class="order-phone-text">
                            <span>*</span>주문자 연락처
                        </div>
                        <!--기본 연락처 active 일 때-->
                        <input type="text" id="userPhone" th:value="${name}" disabled/>
                        <input type="hidden" id="h_userPhone" th:value="${name}"/>
                        <!--신규 연락처 active 일 때
	          			<input type="text" name="phone" />-->
                    </div>

                    <div class="order-requests">
                        <div class="order-requests-text">
                            <span>요청사항 입력</span>
                        </div>
                        <input type="text"/>
                    </div>
                   <!-- <span class="order-surcharge">
                        <div class="order-surcharge-text">
                            <span>추가 결제금액</span>
                        </div>
                        <div class="order-surcharge-price">
                            <span id="orderSurcharge" name="orderSurcharge">0</span><span>원</span>
                        </div>
                        <span>
                            매달 기본 스티커 수량 : 120개<br>
                            스티커 추가 주문 시 추가 비용이 발생됩니다.
                        </span>-->
                </div>
            </div>
            <div class="qr-order-btn">
                <button class="qr-order-taken" type="button" onclick="qr_order();">
                    <span>주문하기</span>
                </button>
            </div>
        </div>
        <!-- //order-list-select-area -->
    </div>
    <!-- //content-wrap -->
</div>
<!--//main_ct-->
</div>
<footer th:replace="fragments/header:: headFooterFragment"></footer>
</body>
<!--script area-->
</html>