application:
  version: v3.0.1
  title: QR-Inventory-API
spring:
  profiles:
    active: dev
mybatis:
  mapper-locations: classpath:/sqlmap/sqlmapper_*.xml
logging:
  config: classpath:logback-spring-dev.xml
kakao:
  api-key: 87c48b54b7f2c7fdc3f31063f02a7fa2
aws:
  api-gateway-url: https://66m2vdg9fi.execute-api.ap-northeast-2.amazonaws.com/OCR-API/ocr
---
spring:
  profiles: dev
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://database-qr.c1wdflbqbfqj.ap-northeast-2.rds.amazonaws.com/qr_inventory?useUnicode=true&charaterEncoding=utf-8&serverTimezone=UTC
    username: admin
    password: tkddnjs0823
  thymeleaf:
    cache: false
    mode: HTML
    prefix: file:src/main/resources/templates/
  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true
---
spring:
  profiles: env
  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://database-qr.c1wdflbqbfqj.ap-northeast-2.rds.amazonaws.com/qr_inventory?useUnicode=true&charaterEncoding=utf-8&serverTimezone=UTC
    username: admin
    password: tkddnjs0823
  thymeleaf:
    cache: false
    mode: HTML
