		<!--//my_info-->
		<div class="hd_my" th:fragment="headInfoFragment">
			<div class="logo">
				<a th:href="@{/main}"><img th:src="@{/image/main/main-gnb-logo-weiser.svg}"></a>
			</div>
			<div class="my_info">
				<form th:action="@{/logout}" method="get">
					<button type="submit">로그아웃</button>
					<span th:text="|${clientName}님, 안녕하세요.|">대전유성지점님, 안녕하세요.</span>
				</form>
			</div>
		</div>
		<!--header  -->
		<div id="header" th:fragment="headNavFragment">
			<h1 id="hd_h1"></h1>
			<div class="contents clearfix"></div>
			<nav id="gnb">
				<h2>메인메뉴</h2>
				<!-- 200504 update-->
				<ul class="gnb-wrap clearfix">
					<li>
						<a th:href="@{/admin/asset/research}" title="전체 자산조회" name="admin_search">전체 자산조회</a>
						<ul class="depth2 clearfix">
							<li><a th:href="@{/asset/search/list}" title="관리자 목록"><span>관리자 목록</span></a></li>
							<li><a th:href="@{/asset/list/sort/model/type/all/pageNum/1}" title="전체자산 목록"><span>자산 목록</span></a></li>
						</ul>
					</li>
					<li>
					<a th:href="@{/obj/status/warehousing/list/1}" title="내부 자산 조회" name="inner_asset_search">재고 자산조회</a>
					<ul class="depth2 clearfix">
						<li><a th:href="@{/obj/status/warehousing/list/1}" title="입고 자산"><span>입고 자산</span></a></li>
						<li><a th:href="@{/obj/status/warehousing_wait/list/1}" title="재입고 대기"><span>재입고 대기</span></a></li>
					</ul>
					</li>
					<li>
						<a th:href="@{/obj/status/shipping/list/1}" title="운영 자산 조회" name="external_asset_search">운영 자산조회</a>
						<ul class="depth2 clearfix">
							<li><a th:href="@{/obj/status/release/list/1}" title="출고 자산"><span>출고 자산</span></a></li>
							<li><a th:href="@{/obj/status/shipping/list/1}" title="배송 자산"><span>배송 자산</span></a></li>
						</ul>
					</li>
					<li>
						<a th:href="@{/order/qr}" title="서비스 신청" name="service">서비스 신청</a>
						<ul class="depth2 clearfix">
							<li><a th:href="@{/order/qr}" title="서비스 주문"><span>서비스 주문</span></a></li>
							<li><a th:href="@{/order/list/1}" title="주문.배송 조회"><span>주문 조회</span></a></li>
						</ul>
					</li>
					<li>
						<a th:href="@{/holder/myinfo}" title="사용자 설정" name="conf">사용자 설정</a>
						<ul class="depth2 clearfix">
							<li><a th:href="@{/holder/myinfo}" title="내 정보 수정"><span>내 정보 수정</span></a></li>
							<!--<li><a href="#" title="관리자 정보 수정"><span>관리자 정보 수정</span></a></li>-->
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<!-- //header -->
		<!-- footer -->
		<footer th:fragment="headFooterFragment">
		  <div class="footer_wrap">
		    <div class="footer_title">
		      <div class="footer_company_name">C&Tech</div>
		      <div class="footer_addr normal">
		          <p>본사 : 대전광역시 유성구 관평동 684번지 대덕비즈센터 B동 2층 215호</p>
		          <p>지사 : 서울특별시 송파구 위례성대로 6 현대토픽스 빌딩 11층</p>
		      </div>
		      <div class="footer_tel light">
		          <span class="padding_r20"><strong><span class="footer_wt_col">TEL</span></strong> <a href="tel:042-862-0142">042 862 0142</a></span>
		          <span class="padding_r20"><strong><span class="footer_wt_col">FAX</span></strong> 042 863 0142</span>
		          <span><strong><span class="footer_wt_col">사업자 등록 번호</span></strong> 314 86 37230</span>
		      </div>
		    </div>
		    <div class="footer_info light">© Untitled. All rights reserved.</div>
		  </div>
		</footer>