

/* 등록조회 */
#title-wrap {
    width: 100%;
    max-width: 1440px;
    }

.page-title-search-area {
    width: 100%;
    max-width: 1440px;
    height: 120px;
    background-color: #437ece;
    }

.page-title-search-area .page-title {
    width: 50%;
    float: left;
    padding: 43px 0;
    color: #fff;
    }

.page-title-search-area .page-title .all-company {
    margin-left: 40px;
    font-size: 1.75em;
    font-weight:600;
    }

.page-title-search-area .page-search {
    width: 50%;
    float: left;
    padding: 42px 0;
    color: #fff;
    text-align: right;
    }

.page-title-search-area .page-search .search {
    margin-right: 54px;
    font-size: 1.6em;
    }

.page-title-search-area .page-search .page-in-search {
    background-color: #437ece;
    border: none;
    color: #fff;
    text-align: right;
    width: 70%;
    font-weight: 400;
    }


#tab_content_wrap {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 1440px;
    background-color: #eceef4;
    text-align: center;
    }

ul.tabs {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    padding: 0px;
    float: left;
    list-style: none;
    }

ul.tabs li {
    width: 33%;
    max-width: 495px;
    padding: 35px 0px 27px 0px;
    display: inline-block;
    color: #000000;
    font-size: 24px;
    cursor: pointer;
    font-weight: 600;
    }

ul.tabs li.current {
    border-bottom: 10px solid #c0c6d4;
    }

.tab-content {
    min-height: 500px;
    padding: 58px 50px 50px 50px;
    background-color: #ffffff;
    overflow: hidden;
    display: none;

    }

.tab-content.current {
    display: inherit;
    }


.text_left {
    text-align: left;
    }

/* 자산선택, 반납 승인 버튼*/
.select_btn, .approve_btn{
    width:198px; height:52px; border-radius: 26px; background-color: #d1d7e7; color:#fff; font-size:24px;border:none;
}


/*반납 승인 활성화 css*/
.approve_btn .active{
    background-color: #23367a;
}

/*자산 선택 활성화 css*/
.delete_active_btn{
    background-color: #23367a;
}

.sub-title{width:80%; text-align:left; float:left; height:50px; font-size:24px; color: #686a6e; margin-left:30px;}


/* 등록 담보물 조회 */
#panel-wrap-register {
    width: 100%;
    height:38px;
    float: left;
    margin-bottom:38px;
    }


.regiseter-panel-group {
    width: 100%;
    height:50px;
    /* line-height: 68px; */
    }

.regiseter-panel-title {
    width: 100%;
    height: 30px;
    float: left;
  }



.regiseter-panel-heading .regiseter-panel-title .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e57e5d;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    }

.regiseter-panel-heading .regiseter-panel-group .regiseter-panel-title .title {
    font-size: 24px;
    color: #112287;
    font-weight: 600;
    }

.regiseter-panel-heading .regiseter-panel-group .regiseter-panel-title .panel-text {
    font-size: 1em;
    margin-left: 20px;
    margin-top: 5px;
    color: #112287;
    }

.section-box.active {
    background-color: #fafbfc;
    color: #000;
    }

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    }

select::-ms-expand {
    display: none;
}


.filter-area-panel {
    width: 15%;
    height: 30px;
    float: left;
    margin-top: 20px;
    margin-right: 26px;
}

.filter-area-panel select {
    border: none;
    width: 190px;
    color: #558fdd;
    font-size: 1.6em;
    background: url('/static/image/total_company/common-icon-sourting-down.svg') 100% 50%;
    background-repeat: no-repeat;
    }

.event_search {
    width: 5%;
    max-width: 260px;
    height: 60px;
    float: right;
    padding: 0px !important;
    position:relative;
    bottom:20px;
}

.event_search img {
  width: 100%;
  height: 100%;
}

input[type="checkbox"]{
   transform: scale(2);
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px auto;
    line-height: 37px;
    border-bottom: 2px solid #d7d7d7;
    }

tr {
    background: #fff;
    }

th {
    height: 82px;
    color: #000000;
    opacity: .9;
    border-top: 2px solid #d7d7d7;
    border-bottom: 2px solid #d7d7d7;
    text-align: center;
    font-size: 24px;
    }

tbody tr {
    cursor: pointer;
    }


tbody tr:hover {
    background-color: #eceef4;
    opacity: .8;
    }

tbody td {
    color: #000000;
    height: 73px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    letter-spacing: -0.035em;
    }

/*페이지 네비게이션*/
.page_count_wrap {
    width: 100%;
    height: 60px;
    margin-top:60px;
    margin-bottom:10px;
    }

.page_num {
    font-size: 24px;
    vertical-align: middle;
    padding: 0px 22px 0px 22px;
    }

#page_start {
    color: #000000;
    font-family: 'NanumSquare';
    font-weight: 700;
    padding-right:5px;
  }

#page{padding:0 10px;}

.page_line {
    color: #626569;
    font-family: 'NanumSquare';
    font-weight: 400;
  }

#page_total {
    color: #626569;
    font-family: 'NanumSquare';
    font-weight: 400;
    padding-left:5px;
  }


/* 반응형
@media screen and (max-width: 767px) {
  .contents { padding:0 10px; }
  .cont-wrap .contents { padding:30px 10px; }

  .cont-img.main-img,
  .cont-img.traffic-img,
  .cont-img.forest-img,
  .cont-img.space-img { background-size:contain; }

  #gnb { display:none; float:none; position:absolute; top:100%; left:0; width:100%; padding:0; background:#fff;  z-index:9999; }
  #gnb .gnb-wrap li { float:none; margin:0;  width:100%; text-align:left;}
  #gnb .gnb-wrap > li > a { padding:18px 0; text-indent:15px; }
  #gnb .gnb-wrap > li a.active:after { display:none; }
  #gnb .gnb-wrap > li .depth2 { display:none; position:relative; width:100%;  padding:10px 0; background-color:#6295da;}
  #gnb .gnb-wrap > li .depth2 li a { padding:20px 0; text-indent:20px; }


  .depth2-bg { display:none; }

  #hamburger { display:block; }
}
 */