
input[type="checkbox"] {
    width: 25px;
    height: 25px;
    }

input:disabled{
    color:black !important;
    background-color: #eceef4;
}


.new-order-plus {
    width: 320px;
    height: 68px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    background-color: #46464a;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
    margin: 0 50px 0 30px;
    }


/* content header*/
#content-wrap {
    width: 100%;
    max-width: 1440px;
    height: 1400px;
    overflow: hidden;
    background-color: #ECEEF4;
    }

.page-title-search-area {
    width: 100%;
    max-width: 1440px;
    height: 120px;
    background-color: #437ece;
    }

.page-title-search-area .page-title {
    width: 50%;
    float: left;
    padding: 44px 0;
    color: #fff;
    }

.page-title-search-area .page-title .all-company {
    margin-left: 40px;
    font-size: 1.75em;
    font-weight: 600;
    }

.page-title-search-area .page-search {
    width: 50%;
    float: left;
    padding: 42px 0;
    color: #fff;
    text-align: right;
    }

.page-title-search-area .page-search .search {
    margin-right: 54px;
    font-size: 1.6em;
    }

.page-title-search-area .page-search .page-in-search {
    background-color: #437ece;
    border: none;
    color: #fff;
    text-align: right;
    width: 70%;
    font-weight: 400;
    }


input:focus {
    border: 1px solid #c3c3c3;
    }

.process-area {
    padding: 60px 0px 0px 0px;
    }

.process-area .img-area {
    text-align: center;
    padding: 60px 0 0 0;
    }

.order-list-select-area {
    width: 90%;
    height: auto;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto;
    }


/* new company info area */
.new-order-input-area {
    width: 90%;
    height: 1900px;
    border-radius: 20px;
    background-color: #fff;
    margin: 0 auto;
    }

.new-order-info {
    height: auto;
    overflow: hidden;
    padding: 80px 125px 80px 125px;
    }

.new-order-info .new-order-title {
    float: left;
    color: #437ece;
    font-weight: 600;
    font-size: 1.75em;
    width: 100%;
    border-bottom: 2px solid #eceef4;
    padding-bottom: 10px;
    margin-bottom: 60px;
    }

.new-order-info .title {
    width: 28%;
    font-size: 1.9em;
    font-weight: 500;
    float: left;
    color: #666666;
    padding-bottom: 30px;
    }

.new-order-info .text {
    width: 72%;
    font-size: 1.9em;
    font-weight: 500;
    float: left;
    color: #000;
    padding-bottom: 30px;
    }

/* defalut input*/
.input-box {
    width: 100%;
    float: left;
    margin-bottom: 60px;
    }

.input-box input {
    border:none;
    width:180px;
    height:63px;
    font-size: 1.6em;
    padding-left:20px;
    }

.input-box .input-box-text {
    width: 25%;
    font-size: 1.6em;
    padding: 26px 26px 26px 0;
    float: left;
    }

.input-box-text span {
    color: #e86731;
    margin-right: 20px;
    vertical-align: middle;
    }

.qrBox{
    border:solid 2px #bcc2d0;
    width:328px;
    height:63px;
}

.input-box .qrCnt {
    width: 328px;
    height: 80px;
    padding-left: 20px;
    font-size: 1.6em;
    font-weight: 600;
    border:none;
    }

.input-box .qrCntTot {
    font-size: 1.7em;
    font-weight: 600;
    }

    .circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #e57e5d;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
    }


.order-phone {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    }

.order-phone .order-phone-text {
    width: 25%;
    font-size: 1.6em;
    padding: 23px 26px 26px 0;
    float: left;
    }


.order-phone .order-phone-text span {
    color: #e86731;
    margin-right: 20px;
    vertical-align: middle;
    }

.order-phone input[type="text"] {
    width: 100%;
    max-width: 700px;
    height: 76px;
    padding-left: 20px;
    font-size: 1.7em;
    margin-right: 9px;
    border:none;
    }

.order-phone .order-phone-select {
    width: 100%;
    }

/* 주문자 전화번호*/
.order-password {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    }

.order-password .order-password-text {
    width: 25%;
    font-size: 1.6em;
    padding: 23px 26px 26px 0;
    float: left;
    }


.order-password .order-password-text span {
    color: #e86731;
    margin-right: 20px;
    vertical-align: middle;
    }

.order-password input[type="password"] {
    width: 100%;
    max-width: 700px;
    height: 76px;
    padding-left: 20px;
    font-size: 1.7em;
    border: 2px solid #bcc2d0;
    margin-right: 9px;
    font-family: '돋움';
    }


/* 업체 담당자 전화번호 */
.order-manager-phone {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    }

.order-manager-phone .order-manager-phone-text {
    width: 25%;
    font-size: 1.6em;
    padding: 26px 26px 26px 0;
    float: left;
    }

.order-manager-phone input[type="text"] {
    width: 218px;
    height: 76px;
    padding-left: 20px;
    font-size: 1.7em;
    font-weight: 600;
    border: 2px solid #bcc2d0;
    margin-right: 9px;

    }

/* 내 정보 보기 버튼 */
.qr-order-btn {
    width: 100%;
    text-align: center;
    padding: 80px 0 60px 0;
    float: left;
    }

.qr-order-taken {
    width: 720px;
    height: 100px;
    border: none;
    border-radius: 72px;
    background-color: #558fdd;
    }

.qr-order-taken span {
    color: #fff;
    font-size: 2.8em;
    font-weight: 600;
    }


@media screen and (min-width: 1250px) and (max-width: 1430px) {
    .contents {
        padding: 0 10px;
        }

    .cont-wrap .contents {
        padding: 30px 10px;
        }

    .cont-img.main-img,
    .cont-img.traffic-img,
    .cont-img.forest-img,
    .cont-img.space-img {
        background-size: contain;
        }

    .filter-area-panel {
        width: 100%;
        float: left;
        position: inherit !important;
        margin-top: 30px;
        }

    .filter-area-panel select {
        width: 85%;
        float: left;
        padding-left: 20px;
        }

    .search-input {
        margin: 20px 70px 0 0;
        }

    .depth2-bg {
        display: none;
        }

    .w3-padding-large {
        padding: 0px 60px 0 60px !important
        }

    .item-waiting .item-text, .item-fail .item-text, .item-complete .item-text, .item-plus .item-text {
        font-size: 1.1em;
        }

    }

@media screen and (min-width: 1180px) and (max-width: 1250px) {
    .contents {
        padding: 0 10px;
        }

    .cont-wrap .contents {
        padding: 30px 10px;
        }

    .cont-img.main-img,
    .cont-img.traffic-img,
    .cont-img.forest-img,
    .cont-img.space-img {
        background-size: contain;
        }

    .filter-area-panel {
        width: 100%;
        float: left;
        position: inherit !important;
        margin-top: 30px;
        }

    .filter-area-panel select {
        width: 85%;
        float: left;
        padding-left: 20px;
        }

    .search-input {
        margin: 20px 70px 0 0;
        }

    .w3-padding-large {
        padding: 0px 60px 0 60px !important
        }

    .item-waiting, .item-fail, .item-complete, .item-plus {
        width: 100% !important;
        margin: 10px !important;
        }

    .item-waiting .item-text, .item-fail .item-text, .item-complete .item-text, .item-plus .item-text {
        font-size: 1.1em;
        }

    }

@media screen and (min-width: 990px) and (max-width: 1180px) {
    .contents {
        padding: 0 10px;
        }

    .cont-wrap .contents {
        padding: 30px 10px;
        }

    .cont-img.main-img,
    .cont-img.traffic-img,
    .cont-img.forest-img,
    .cont-img.space-img {
        background-size: contain;
        }

    .filter-area-panel {
        width: 100%;
        float: left;
        position: inherit !important;
        margin-top: 30px;
        }

    .filter-area-panel select {
        width: 85%;
        float: left;
        padding-left: 20px;
        }

    .search-input {
        margin: 20px 70px 0 0;
        }

    .w3-padding-large {
        padding: 0px 60px 0 60px !important
        }

    .item-waiting, .item-fail, .item-complete, .item-plus {
        width: 100% !important;
        margin: 10px !important;
        }

    .item-waiting .item-text, .item-fail .item-text, .item-complete .item-text, .item-plus .item-text {
        font-size: 1.1em;
        }

    .w3-padding-large {
        padding: 0px 60px 0 60px !important
        }

    .order-info {
        font-size: 0.9em;
        }

    .grade-box {
        width: 50% !important;
        }
    }

@media screen and (min-width: 767px) and (max-width: 990px) {
    .contents {
        padding: 0 10px;
        }

    .cont-wrap .contents {
        padding: 30px 10px;
        }

    .cont-img.main-img,
    .cont-img.traffic-img,
    .cont-img.forest-img,
    .cont-img.space-img {
        background-size: contain;
        }


    .depth2-bg {
        display: none;
        }

    .w3-padding-large {
        padding: 40px 60px 0 60px !important;
        }

    .item-waiting, .item-fail, .item-complete, .item-plus {
        width: 31.5% !important;
        }

    footer {
        height: auto !important;
        padding-bottom: 40px;
        }
    }


@media screen and (max-width: 767px) {
    .contents {
        padding: 0 10px;
        }

    .cont-wrap .contents {
        padding: 30px 10px;
        }

    .cont-img.main-img,
    .cont-img.traffic-img,
    .cont-img.forest-img,
    .cont-img.space-img {
        background-size: contain;
        }

    #gnb {
        display: none;
        float: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0;
        background: #fff;
        z-index: 9999;
        }

    #gnb .gnb-wrap li {
        float: none;
        margin: 0;
        width: 100%;
        text-align: left;
        }

    #gnb .gnb-wrap > li > a {
        padding: 18px 0;
        text-indent: 15px;
        }

    #gnb .gnb-wrap > li a.active:after {
        display: none;
        }

    #gnb .gnb-wrap > li .depth2 {
        display: none;
        position: relative;
        width: 100%;
        padding: 10px 0;
        background-color: #6295da;
        }

    #gnb .gnb-wrap > li .depth2 li a {
        padding: 20px 0;
        text-indent: 20px;
        }

    .depth2-bg {
        display: none;
        }

    #hamburger {
        display: block;
        }

    .w3-padding-large {
        padding: 40px 60px 0 60px !important;
        }

    .item-waiting, .item-fail, .item-complete, .item-plus {
        width: 31.5% !important;
        }

    footer {
        height: auto !important;
        padding-bottom: 40px;
        }
    }



